*~
/program
/program_debug
/SimTaw
/SimTaw_debug
/TestSimTaw
/TestSimTaw_debug
/ExpQueens
/ExpQueens_debug
/ExpQueensRC
/ExpQueensRC_debug
/Recursion
/Recursion_debug
/ExploreBTs
/ExploreBTs_debug
/MeasureTau
/MeasureTau_debug
/CreateExperiment
/CreateExperiment_debug
