/Mols
/Mols_debug
/Process_SplitViaOKsolver*
/SplitViaOKsolver*
/MOLS2SAT*
/Pandiagonal
/Pandiagonal_debug
/CPandiagonal
/CPandiagonal_debug
/CspPandiagonal
/CspPandiagonal_debug
/Sort
/Sort_debug
/ExpandQueensCubes
/ExpandQueensCubes_debug
