/Mols
/Mols_debug
/Process_SplitViaOKsolver*
/SplitViaOKsolver*
/MOLS2SAT*
/Pandiagonal
/Pandiagonal_debug
/CPandiagonal
/CPandiagonal_debug
/CspPandiagonal
/CspPandiagonal_debug
/Sort
/Sort_debug
/ExpandQueensCubes
/ExpandQueensCubes_debug
/ExactCoverQueensCubes
/ExactCoverQueensCubes_debug
/ECSAT0_QueensCubes
/ECSAT0_QueensCubes_debug
/ECSAT1_QueensCubes
/ECSAT1_QueensCubes_debug
/ECSAT2_QueensCubes
/ECSAT2_QueensCubes_debug
