body {color:#4A2885; background:#E8ECDC;
  font-family:sans-serif;
  font-size:14pt; margin-left:10%; margin-right:10%; }

h1 {color: #d0ffd0;}

a:link { font-weight:normal; 
  color:#190438; 
  text-decoration:none }

a:visited { font-weight:normal; 
  color:#190438; 
  text-decoration:none }

a:hover { font-weight:normal; 
  color:#dc9000; 
  text-decoration:none }

#logo { font-family:serif;
  font-style:italic;
  font-size:90pt;  } 

#subtitle { font-style:italic; }

#OKlibrary_doc { }

#local_index {  }

#homepages {  }

#vn { }
 
