c Saturated minimally unsatisfiable clause-set of deficiency 2 with 3 variables,
c and with added unit-clause 1.
c Additional comments regarding the unit-clause propagation:
c The original parameter were: n = 3, c = 6.
c After elimination of empty clauses, unit-clauses and tautological clauses the number of clauses is 5.
c Number of unit-clauses in input = 1.
c UCP determines unsatisfiability after processing 2 assignments.
p cnf 0 1
0
