/Euler
/Euler_debug
/Euler_BBOpt
/Euler_BBOpt_debug
/laMols
/laMols_debug
/gcMols
/gcMols_debug
/sgcMols
/sgcMols_debug
/rlaMols
/rlaMols_debug
/TestParsing_debug
/TestConditions_debug
/TestEncoding_debug
/TestConstraints_debug
/TestSolvers_debug
/TestPartialSquares_debug
/TestCommandLine_debug
/TestLookaheadReduction_debug
/TestLookaheadBranching_debug
/TestVerification_debug
/TestOrthogonalArrays_debug
/TestBasicLatinSquares_debug
/TestGcVariables_debug
/TestCases_debug
/TestOptions_debug
/TestMeasures_debug
