/TestGraphs_debug
/TestBicliques2SAT_debug
/BCC2SAT
/BCC2SAT_debug
/BCCbySAT
/BCCbySAT_debug
/TestGenerators_debug
/GraphGen
/GraphGen_debug
/TestConflictGraphs_debug
/CNF2statscg
/CNF2statscg_debug
/CNF2cg
/CNF2cg_debug
/TestBicliques_debug
/TestDimacsTools_debug
/CNFBCC
/CNFBCC_debug
/TestGraphTraversal_debug
/2QCNF2aCNF
/2QCNF2aCNF_debug
