/UnitClausePropagation-O3-DNDEBUG
/UnitClausePropagationW-O3-DNDEBUG
/UnitClausePropagation
/UnitClausePropagation64
/UnitClausePropagation_debug
/UnitClausePropagation64_debug
/UnitClausePropagationW
/UnitClausePropagationW64
/UnitClausePropagationW_debug
/UnitClausePropagationW64_debug

