c Two conflicting unit-clauses.
c Additional comments regarding the unit-clause propagation:
c The original parameter were: n = 1, c = 2.
c After elimination of empty clauses, unit-clauses and tautological clauses the number of clauses is 0.
c Empty clause directly entailed by input (thus the problem is unsatisfiable).
p cnf 0 1
0
