tawSolver
tawSolver_debug
ttawSolver
ttawSolver_debug
ctawSolver
ctawSolver_debug
cttawSolver
cttawSolver_debug
mtawSolver
mtawSolver_debug
mttawSolver
mttawSolver_debug
tawSolver_wa
tawSolver_wa_debug
ttawSolver_wa
ttawSolver_wa_debug

