/tawSolver
/tawSolver_debug
/tawSolver_alpha
/tawSolver_alpha_debug
/ftawSolver
/ftawSolver_debug
/ttawSolver
/ttawSolver_debug
/ctawSolver
/ctawSolver_debug
/ctawSolver_alpha
/ctawSolver_alpha_debug
/ctawSolver_lambda
/ctawSolver_lambda_debug
/ctawSolver_lambda_alpha
/ctawSolver_lambda_alpha_debug
/cttawSolver
/cttawSolver_debug
/cttawSolver_lambda
/cttawSolver_lambda_debug
/mtawSolver
/mtawSolver_debug
/mttawSolver
/mttawSolver_debug
/tawSolver_wa
/tawSolver_wa_debug
/ttawSolver_wa
/ttawSolver_wa_debug
/ctawSolver_wa
/ctawSolver_wa_debug
/cttawSolver_wa
/cttawSolver_wa_debug
/AlteVersionen
