/TestNumbers_debug
/TestDistributions_debug
/TestAlgorithms_debug
/TestClauseSets_debug
/TestQClauseSets_debug
/TestDQClauseSets_debug
/TestTests_debug
/TestSequences_debug
/TestStatistics_debug
/TestLatinSquares_debug
/TestLSRG_debug
/TimingDiscard
/TimingGeneration
/TimingBernoulli12
/TimingBernoulli12_*
/TimingBernoulli2
/TimingBernoulli2_*
/TimingBernoulli
/TimingBernoulli_*
/TimingUniformRange
/TimingUniformRange_*
/TimingChoose
/TimingChoose_*
/TimingKolmogorov
/TimingKolmogorov_*
/TimingInitialisation
/Timingilogp2
/TimingLSRG
/TimingLSRG_debug

/Kval
/KSTval
/MetaBernoulli
/MetaBernoulli_*
/MetaDevice
/MetaDevice_*
/BRG
/BRG_*
/QBRG
/QBRG_*
/DQBRG
/DQBRG_*
/LSRG
/LSRG_*

/data/exp_files/

