/TestNumbers_debug
/TestDistributions_debug
/TestAlgorithms_debug
/TestClauseSets_debug
/TestTests_debug
/TimingDiscard
/TimingGeneration
/TimingBernoulli12
/TimingBernoulli12_*
/TimingBernoulli2
/TimingBernoulli2_*
/TimingBernoulli
/TimingBernoulli_*
/TimingUniformRange
/TimingUniformRange_*
/TimingChoose
/TimingChoose_*
/TimingKolmogorov
/TimingKolmogorov_*
/TimingInitialisation
/Timingilogp2

/Kval
/MetaBernoulli
/MetaBernoulli_*

/data/exp_files/

