Test_debug
TestNumbers_debug
TestDistributions_debug
TestAlgorithms_debug
TestClauseSets_debug
TimingDiscard
TimingGeneration
TimingBernoulli12
TimingBernoulli12_*
TimingBernoulli2
TimingBernoulli2_*
TimingBernoulli
TimingBernoulli_*
TimingInitialisation
Timingilogp2

data/exp_files/

