body { 
  color:#4A2885;
  background:#E8ECDC;
  font-family:sans-serif;  }

a:link { 
  font-weight:normal; 
  color:#190438; 
  text-decoration:underline }

a:visited {
  font-weight:normal; 
  color:#190438; 
  text-decoration:underline }

a:hover { 
  font-weight:normal; 
  color:#dc9000; 
  text-decoration:underline }

#content { 
  width:85%; 
  min-width:720px;
  margin: 0 auto;
  text-align: center; }

#logo { 
  width:100%;
  min-width:500px;
  height:150px; } 

#vn { 
  padding-left:10px;
  min-width:500px; }

#subtitle { 
  padding-left:10px;
  font-style:italic;
  min-width:500px; }

#doc_navigation {   
  width : 500px; 
  margin: 0 auto;
  text-align: center;  }

#OKlibrary_doc {
  width:10em;
  float:left;
  padding-left:10px;
  padding-right:10px;
  min-width:10em;}

#OKlibrary_doc a { 
  display:block; }

#external_documentation_division { 
  float:right;}

#local_index { 
  width:10em; 
  float:left;
  padding-right:10px;
  min-width:10em;}

#local_index a { 
  display:block; }

#homepages {
  width:10em;
  float:left;
  padding-right:10px;
  min-width:10em;}

#homepages a { 
  display:block; }

#footer { 
  clear:both; }


 
